
.homePage {
  font-family: cursive;
  font-size: x-large;
}


.projectContainer {
  display: flex;
  background-color: lavender;
  padding: 10px;
}


.individualProject {
  flex: 1;
  text-align: center;
  border-style: dotted;
}


.projectLabel {
  flex: 1;
  font-size: 25px;
  text-align: center;
  font-family: cursive;
  border-style: dotted;
}

